langchain
langchain-ollama
langchain-chroma
langchain-core
langchain-groq
langchain-community
langserve
langgraph
langsmith
fastapi[standard]
IPython
ipykernel
pandas
numpy
sqlalchemy
streamlit
pydantic
psycopg2
psycopg
pymysql